:root {
    --primary-color: #ea9ab2 ;
    --secondary-color: #30343f;
}

/* Removes default browser enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #0f0e0e;
}

/* Header styling */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../images/blog_image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    text-shadow: none;
}

.hero {
    background-image:  url("../images/blog_image.jpg");
    height: 26vw;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

section {
    padding: 30px 50px;
}

.section-container {
    display: flex;
    /* flex-direction: row; */
}

.section-title {
    font-size: 36px;
    padding: 20px 10px 20px 20px;
    color: var(--primary-color);
    width: 172px;
    justify-content: space-between;
}

section div ul li a {
    text-decoration: none;
    display: flex;
    padding: 20px;
    margin: 0 10px;
    justify-content: space-around;
    list-style-type: none;
}

.section-cards {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.card {
    display: flex;
    flex: 1 40%;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    text-align: center;
    overflow-x: visible;
    overflow-y: hidden;
    margin: 15px;
    width: 275px;
    height: 175px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.big {
    height: 300px;
}

.card a img {
    width: 100%;
}

.card:hover {
    filter: brightness(107%);
    border-radius: 5px;
    transform: scale(1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-info {
    position: absolute;
    border-radius: 3px;
    bottom: 25px;
    left: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.border {
    border-left: 2px solid var(--secondary-color);
    padding: 20px;
}

.section-container div {
    width: fit-content;
}

.section-container h2 {
    text-align: right;
}

.contact-info {
    margin-top: 4%;
}

.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 31px;
}

/* Social Media Icons*/

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
    
}

.social-container a {
    margin: 20px;
}

.social-icons {
    width: 35px;
    height: 35px;
    margin: 0 15px 5px 0;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .card {
        height: 140px;
    }

    .card-info {
        font-size: 16px;
        bottom: 12px;
    }

    .contact {
        padding-left: 24px;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) { 

    header {
        padding-top: 5px;
    }

    header nav ul {
        margin-top: 5px;
    }

    .hero {
        height: 40vw;
    }

    section {
        padding: 30px 35px;
    }

    .contact {
        padding-left: 5px;
    }

    .card-info {
        font-size: 12px;
        bottom: 8px;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) { 

    header {
        padding-top: 5px;
    }

    header nav ul {
        margin-top: 5px;
    }

    .hero {
        height: 40vw;
    }

    section {
        padding: 30px 35px;
    }

    .section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 0;
    }

    .section-title {
        font-size: 36px;
        width: 230px;
        justify-content: space-between;
    }

    .section-container h2 {
        text-align: left;
    }
    .contact {
        padding-left: 30px;
    }

    .section-cards {
        flex-direction: column-reverse;
    }

    .card {
        flex: 1 auto;
    }

    .card-info {
        font-size: 12px;
        bottom: 15px;
    }
    
    .border {
        border-top: 2px solid var(--secondary-color);
        border-left: 0;
        padding: 20px;
    }

}
